.bg-container {
}

.header-container {
  background-color: #3367d6;
  height: 8%;
}

.website-logo-container {
  background-color: #2850a7;
}

.website-logo {
  height: 20px;
}

.search-container {
  height: 22px;
}

.search-logo-container {
  height: 20px;
}

.search-logo {
  height: 20px;
}

.input-container {
  height: 20px;
}

.search-input {
  width: 40%;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.history-container {
  width: 90%;
}

.history-list {
  list-style-type: none;
}
