.list-item-container {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .time-history-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .time-history-container {
    display: flex;
  }
}
